/* responsive  */

@media (min-width: 2000px) {
    .section1 {
        display: flex;
        height: 100vh;

    }
}

@media (max-width: 1400px) and (min-height: 1000px) {
    .section1 {
        height: 110vh;

    }

}

@media (max-width: 1400px) {


    .section1_left {
        padding: 50px 50px 50px 50px;

    }

    .about {
        padding: 150px 50px 50px 50px;
    }

    .section3 {
        width: 60vw;
        right: 50px;
    }

    .packages-heading-parent {
        padding: 150px 50px 50px 50px;


    }

    .packages-parent {
        padding: 0px 50px 0px 50px;

    }

    .choose-us-heading-parent {
        padding: 100px 50px 50px 50px;
    }

    .why-choose-us {
        padding: 0px 50px 50px 50px;
    }

    .custom-nav{
        padding: 0px 30px;
    }

     .carousel-slide {

              flex: 0 0 72%;
             

        }
         .gallery{
            padding: 40px 50px 70px 50px;
        }
      
        .carousel{

            height: 70vh;
        

        }

             .faq-section{
    padding: 0px 50px 0px 50px;

             }

                .bike-packages{

        padding-bottom: 50px;



     }
     .testimonial-heading{
    padding-top: 8px;
        padding-bottom: 70px;
  
}

 
     


}

@media (max-width: 1200px) and (max-height:1400px) {

    .section1 {
        display: flex;
        height: 80vh;

    }

    .section1_right {
        width: 55%;
    }

    .section1_left {
        width: 45%;
    }
}



@media (max-width:1200px) and (max-height: 900px) {
    .section1_right {
        width: 55%;
    }

    .section1_left {
        width: 45%;
    }

    .section1 {
        display: flex;
        height: 135vh;

    }


}

@media (max-width: 1080px) {

    .about-chiled1 {
        width: 85%;
    }

    .about-chiled2 {
        width: 15%;
    }

    /* .section_main_heading {
        font-size: 70px;
        line-height: 80px;
    
    } */

    .section_main_heading {
        font-size: clamp(35px, 7vw, 70px);
        line-height: clamp(40px, 7vw, 75px);

    }


    .packages-heading {
        width: 100%;
    }

    .choose_bg1,
    .choose_bg2,
    .choose_bg3,
    .choose_bg4 {
        padding: 40px 0px;
    }

    .why-choose-us-chiled1-heading {
        width: 50%;
    }

    .why-choose-us-chiled img {
        /* height: 50%; */
        width: 15%;
        left: 24%;
        top: 20%;
    }


    /* .choose1 {
        margin-top: 60px;
    } */

    .faq-text {
        height: 670px;
    }

      


}


@media (max-width: 1000px) {
    .section1_left {
        padding: 30px 30px 50px 30px;
    }

    .hero_content {
        margin-top: 70px;
    }

    .section1_left_top_chiled1 img {
        height: 50px;
    }

    .section1_left_top_chiled2 ul {
        padding: 0;
    }

    .section1_left_top_chiled2 li {
        margin-bottom: 15px;
    }

    .section1_left_bottom h1 {
        font-size: clamp(30px, 15vw, 90px);
        line-height: clamp(30px, 15vw, 90px)
    }

    .section1_left_bottom img {
        height: 100px;
    }

    .search {
        height: 38px;
        margin-top: 30px;
    }

    .search img {
        top: 9px;
    }

    .about {
        padding: 100px 30px 50px 30px;
    }

    .section3 h4 {
        font-size: 30px;
    }

    .section3 h5 {
        font-size: 15px;
    }

    .section3 {
        width: 70vw;
        right: 30px;
    }

    .packages-heading-parent {
        padding: 100px 30px 50px 30px;
        top: -50px;

    }

    .packages-parent {
        padding: 0px 30px 0px 30px;
    }


    .choose-us-heading-parent {
        padding: 70px 30px 50px 30px;
    }

    .why-choose-us {
        padding: 0px 30px 50px 30px;
    }

    .custom-nav{
        padding: 0px 10px;
    }
      .carousel-slide {

              flex: 0 0 72%;
             

        }
      
      
        .carousel{

            height: 70vh;
        

        }
           .gallery{
            padding: 10px 30px 60px 30px;
        }

                 .faq-section{
    padding: 0px 30px 0px 30px;

             }

                .bike-packages{

        padding-bottom: 50px;



     }
     .testimonial-heading{
    padding-top: 0px;
        padding-bottom: 60px;
  
}


  





}

@media (max-width: 1000px) and (min-height: 1100px) {

    .section1 {
        height: 75vh;
    }


}

@media (max-width:800px) and (min-height: 1000px) {

    .section1 {
        height: 90vh;
    }


}

@media (max-width:1100px) and (max-height: 700px) {

    .section1 {
        height: 172vh;
    }


}


@media (max-width: 850px) {
    /* .section_main_heading {
        font-size: 60px;
        line-height:70px;
    } */

    .about-chiled2 {
        width: 5%;
    }

    .about-chiled1 {
        width: 95%;
    }


  

        /* .faq-text {
        height: 762px;
    } */




   
}

@media (max-width: 770px) {

    .about-chiled2 {
        width: 0%;
    }

    .about-chiled1 {
        width: 100%;
    }

    .packages-heading {
        width: 100%;
    }
}








@media (max-width: 660px) {

    .para {
        font-size: 13px;
    }

    .section1 {
        height: auto;
        flex-direction: column;
    }

    .section1_left {
        padding: 30px 10px 50px 10px;
    }


    .section1_left_top_chiled2 ul {
        display: none;
    }

    .section1_left_top_chiled2 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .section1_right {
        width: 100%;
        height: 50vh;

    }

    .section1_left {
        width: 100%;
    }

    .search {
        margin-top: 20px;
        width: 60%;

    }

    .section1_right input::placeholder {
        font-size: 14px;
    }

    .search img {
        height: 15px;
        width: 15px;
        top: 12px;
        right: 15px;
    }


    .mobile-bars {
        display: flex;

    }

    .mobile-bars img {
        height: 35px;
    }

    .section1_left_bottom {
        margin-top: 95px;
    }


    .about {
        flex-direction: column;
        padding: 80px 10px 50px 10px;
    }

    .about-chiled2 {
        width: 100%;
        margin-top: 30px;
    }

    .section3 {
        width: 100%;
        position: static;
    }

    .section_main_heading {
        margin-bottom: 5px;
    }

    .about-chiled1-ka-chiled4 {
        padding-top: 25px;
    }

    .packages-heading-parent {
        padding: 80px 10px 30px 10px;
        top: -40px;

    }

    .packages-parent {
        padding: 10px 10px 0px 10px;

    }

    .choose-us-heading-parent {
        padding: 30px 10px 0px 10px;
    }

    .why-choose-us {
        padding: 0px 10px 50px 10px;
    }

    .why_choose_heading {
        text-align: left;
    }

    .custom-nav{
        padding: 0px 0px;
    }



    
    .why-choose-us-chiled {
        flex-direction: column;
    }

    .why-choose-us-chiled1-para {
        width: 100%;
        margin-top: 20px;
    }

    .why-choose-us-chiled img {
                width: 132px;
        height: 90px;
        left: 60%;
        top: 7%;
    }

    .why-choose-us-chiled1-heading {
        width: 100%;
    }


.why_choose_heading h2{
    font-size: 35px;
}



             .gallery{
               padding: 0px 10px 30px 10px;
       }
                .faq-section{
    padding: 0px 10px 0px 10px;

             }

     
      .choose1 .para {
            padding: 0px 15px 30px 15px;

    }

       .bike-packages{

        padding-bottom: 50px;



     }
     .testimonial-heading{
    padding-top: 0px;
  
}




}


@media (max-width: 550px) {


    .section3-chiled1-parent {
        flex-direction: column;
        padding: 10px 20px 10px 0px;
        box-sizing: border-box;
        width: 60%;
    }

    .section3-chiled3 {
        width: 40%;
    }

    .section3-chiled2 {
        margin: 0;
    }

    .section3-chiled1,
    .section3-chiled2 {
        /* height: 150px; */
        width: 100%;
    }

    .section3-chiled2 {
        margin-top: 20px;
    }

    .black-color {
        flex-direction: column;
        justify-content: end;
    }

    .section3 h4 {
        margin-bottom: 5px;
    }



    /* packages section  */

    /* .packages-parent {
        padding: 10px 10px 10px 10px
    } */

    .package_detail {
        padding: 10px;
    }

    .custom-nav button {
        padding: 15px;
        font-size: 12px;
    }

  

    .custom-prev,
    .custom-next {
        height: auto;
        width: auto;
    }

        /* .choose1 {
        margin-top: 50px;
    } */
     .choose5{
        height: 200px;
     }

      .faq-text {
        height: 625px;
    }

    .imgs{
    width: 350px;
   

   
}

  

    

    

}


@media (max-width: 450px) {
    /* packages  */

    .packages-heading-parent {
        position: static;
        padding-bottom: 20px;
    }

    .packages-parent {
        border-radius: 10px;
    }

    .custom-nav button {
        padding: 15px;
        font-size: 12px;
    }

    .custom-nav {
        margin-top: 20px;
        gap: 10px;
    }

    .package_detail {

        padding: 13px 0px 0px 0px;
    }

    .choose_bg1,
    .choose_bg2,
    .choose_bg3,
    .choose_bg4 {
        padding: 30px 0px;
    }

    .custom-nav button {
        padding: 10px;
        font-size: 10px;
        background-color: #0e0f1161;
    }
    .custom-nav button:hover{
        background-color: #93939371;
    }
       .why-choose-us-chiled img {
                    width: 103px;
        height: 70px;
        left: 60%;
        top: 8%;
    }

      .carousel-slide {

              flex: 0 0 73%;

        }
        .carousel{

            height: 50vh;

        }

     
        .faq-text {
        height: 680px;
    }
        .faq_heading{
    padding-bottom: 30px;
}


.item-heading h3 {
    font-size: 20px;
}
.item-heading .para{
    padding: 10px 0px;
}
.item-button{
    padding: 10px 0px 10px 0px;
}

.packeges-button, .packeges-button2{
    padding: 9px 25px;
}

.item{
    padding: 8px;
}

.custom-nav button{
    display: none;
}
.owl-stage-outer {
    margin-left: -30px; 
    padding-left: 0 !important;
    overflow: visible;
}




}



@media (max-width: 402px) {

    .section3-chiled1,
    .section3-chiled2 {
        padding: 10px;
    }

    .section3-chiled1-chiled2,
    .section3-chiled1-chiled1 {
        width: 80%;
        margin-top: 3px;
    }

    .section3-chiled2 {
        margin-top: 10px;
    }

    .section3-chiled1-parent {
        flex-direction: column;
        padding: 10px 10px 10px 0px;
    }

    .section3-mid-chiled {
        padding-left: 10px;
    }

         .faq-text {
        height: 710px;
    }








}

@media(max-width: 400px) and (max-height: 700px) {
    .mobile_links {
        padding: 30px 0px 0px 0px;
    }

    .mobile_links ul li {

        margin-bottom: 7px;
    }

    .search {
        height: 34px;
    }

    .search img {
        top: 11px;
        height: 13px;
        width: 13px;
    }

    .section1_right input::placeholder {
        font-size: 12px;

    }

}