/* para  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* heading  */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;


}
body{
    background-color: #0E0F11;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Kanit", sans-serif;
    color: #FFFFFF;
    margin: 0;

}

p,
li {
    font-family: "Poppins", sans-serif;
    color: #afafaf;


}


ul {
    list-style: none;


}

a {
    text-decoration: none;
    color: #AFAFAF
}

.section1 {
    display: flex;
    height: 150vh;





}

.section1_right {
    width: 65%;
    position: relative;
    display: flex;
    justify-content: center;

}









.section1_left {
    width: 35%;


    padding: 50px 50px 50px 120px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.section1_right input {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    background-color: #0e0f11be;
    color: white;
    border: 2px solid transparent;
    padding: 0 15px;
    transition: border 0.3s ease;
    position: relative;






}

.search {
    height: 53px;
    width: 72%;
    border-radius: 25px;
    position: absolute;
    z-index: 3;
    margin-top: 50px;




}

.search img {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 16px;
    right: 20px;


}



.section1_right input:focus {
    outline: none;
}

.section1_right input::placeholder {
    color: #AFAFAF;
    font-size: 15px;


}



.section1_left_top {
    display: flex;


}







.section1_left_top_chiled1 {
    width: 67%;



}

.section1_left_top_chiled2 {
    width: 33%;
}

.section1_left_top_chiled1 img {
    height: 70px;

}


.section1_left_top_chiled2 li {
    position: relative;
    margin-bottom: 20px;
    font-size: 14px;
    transition: 0.2s ease;
}

.section1_left_top_chiled2 li::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 1.5px;
    background-color: gray;
    transition: 0.2s ease;


}

/* Hover effects */
.section1_left_top_chiled2 li:hover {
    transform: translateX(8px);
    color: #D9D9D9;



}

.section1_left_top_chiled2 li:hover::before {
    width: 13px;
    background-color: #d9d9d9;


}









.section1_left_bottom h4 {
    font-size: 25px;
}

.section1_left_bottom p {
    font-weight: 300;
    margin-top: 15px;

}









.section1_left_bottom {
    z-index: 100;
    width: 90vw;
    position: relative;
    margin-top: 50px;
    height: auto;

}

.section1_left_bottom h1 {
    font-size: clamp(30px, 15vw, 150px);

    font-weight: 400;
    transform: scaleY(1.1);
    transform-origin: "center center";
    line-height: clamp(30px, 15vw, 150px);

}


.section1_left_bottom img {
    height: 128px;
    margin-right: 20px;
}


h1 span {
    font-weight: 100;
}

.hero_content {
    margin-top: 100px;

}

.hero_content h4 {
    color: #AFAFAF;

}

img {
    object-fit: cover;
}


.mobile-bars {
    display: none;
}




/* offcanvas */

.offnav {
    display: flex;
    width: 100%;
}

.off_logo,
.close {
    width: 50%;
}

.close {
    display: flex;
    justify-content: end;
    align-items: center;
}

.offcanvass {
    width: 100%;
    height: 100vh;
    background-color: #0e0f11bf;
    position: fixed;
    z-index: -1;
    backdrop-filter: blur(10px);
    opacity: 0;
    top: 0;
    left: 0;
    padding: 30px 30px 30px 30px;
}

.mobile_links {
    padding: 50px 0px 10px 0px;
}

.mobile_links ul {
    padding: 0;
}

.mobile_links ul li {
    font-size: clamp(20px, 5vw, 30px);
    color: white;
    margin-bottom: 5px;
}

hr {
    color: white;
}

.location .facebook {
    height: 22px;
    margin-right: 10px;
}

.location .instagram {
    height: 20px;
}





/* video section */

.parent {
    height: 100vh;
    width: 100%;
    position: relative;
 
 

}

.mask {
   
    width: 100%;
    height: 100vh;
    background-color: #0E0F11;

    -webkit-mask:
        linear-gradient(black, black),
        linear-gradient(white, white);
    -webkit-mask-composite: xor;
    -webkit-mask-size: 100%, 300px 200px;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;

    mask:
        linear-gradient(black, black),
        linear-gradient(white, white);
    mask-composite: exclude;
    mask-size: 100%, 500px 250px;
    mask-position: center;
    mask-repeat: no-repeat;
    position: relative;
}



.hero-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.video_text {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    background-color: transparent
}

.video_text h3 {
    font-size: 60px;
    mix-blend-mode: difference;
    color: white;
    transform: scaleY(1.2);
    font-weight: 700;
    /* text-shadow: 10px 10px 10px #0E0F11; */

}

.video_text h3:nth-child(2) {
    font-weight: 100;

}






/* section 3 */




.section3-mid-chiled {

    z-index: 1;
    position: relative;
    
    /* width: 100%; */
    background-color: #f7f7f758;
    /* background-color: aqua; */
    display: flex;
    text-align: center;
    /* justify-content: space-evenly; */
    padding: 0px 0px 0px 20px;
    box-sizing: border-box;
    border-radius: 10px;


}

.section3-chiled1 {
    /* height: 150px; */
    width: 47%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;

}

.section3-chiled2 {
    /* height: 150px; */
    width: 47%;
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: 0px 25px;
}

.section3-chiled3 {
    width: 30%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    


}

.section3-chiled3 video{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.black-color {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0px 10px;
    align-items: end;
    justify-content: space-evenly;
    background-color: #0e0f115a;

}

.section3 h4 {
    font-size: 40px;
    margin-bottom: 0px;
    font-weight: 200;

}

.section3 h5 {
    font-size: 18px;

    font-weight: 300;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.72);


}

.section3-chiled1-chiled1 {
    width: 80%;
    margin-top: 10px;
    


}

.section3-chiled1-chiled2 {
    width: 80%;
    margin-top: 10px;


}

.section3-chiled3 h4 {
    color: rgba(255, 255, 255, 0.72);

    margin-bottom: 30px;

}

.section3-chiled3 h5 {
    color: white;
    /* margin-left: 25px; */
    margin-bottom: 30px;

}

.section3-chiled1-parent {
    width: 70%;
    display: flex;
    text-align: center;
    padding: 10px 0px;
    box-sizing: border-box;


}
.section3{
    position: absolute;
    right: 120px;
    width: 50vw;
    bottom: -10%;
    backdrop-filter: blur(10px);
    animation-name: updown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes updown{
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(10px);
    }
}







/* about section */

.about {
    /* height: 100vh; */
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    padding: 200px 120px 50px 120px;
    box-sizing: border-box;
    position: relative;


}

.about-chiled1 {
    /* height: 100vh; */
    width: 70%;
    /* background-color: rgb(59, 39, 160); */


}

.about-chiled2 {
    /* height: 100vh; */
    width: 30%;
    /* background-color: rgb(196, 206, 109); */


}

.about-logo {
    height: 25px;
    width: 25px;
    background-color: blueviolet;
    border-radius: 50%;

}

.about-chiled1-ka-chiled1 {
    display: flex;
    align-items: center;
}

.about-chiled1-ka-chiled2 {
    padding: 10px 0px;
}

.about-chiled1-ka-chiled4 {
    display: flex;
    padding-top: 30px;
   
}

/* .about-chiled1-ka-chiled3{
padding: 20px 0px;
} */


.section_small_heading {
    font-size: 18px;
    font-weight: 100;
    margin-left: 15px;
}

.section_main_heading {
    font-size: clamp(35px ,5.7vw , 80px);
    line-height: clamp(40px , 5.7vw , 85px);

}

.text_design {
    font-weight: 200;
}


.about_img {
    width: 100%;
    height: 80vh;
    background-image: url(https://vl-prod-static.b-cdn.net/system/images/000/648/793/c92b0584062a8e301c1d5fe9bcd89fac/banner/DSC05656_4_11zon.jpg?1668168440);
    background-size: cover;
    background-position: center;



}







/* button */



 .button2 {
    position: relative;
    overflow: hidden;
    border: none;
    padding: 7px 30px;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
   
}

.button2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: top 0.3s ease;

 
}

.button2:hover::before {
    top: 0;
 
}

.button2 p {
    position: relative;
    z-index: 2;
    margin: 0;
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
    
}

.button2:hover p {
    color: white;
    transform: translateY(-2px);
}



